{#
/**
 * @file
 * Default theme implementation for the ODSG announcement.
 *
 * Overrides core/modules/views/templates/views-view-unformatted.html.twig.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('common_design_subtheme/odsg-announcement') }}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      'odsg-announcement',
    ]
  %}
  {% set content = row.content|render %}
  {% if content|striptags|trim is not empty %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- content -}}
  </div>
  {% endif %}
{% endfor %}
