/*
 * @file
 * Provides the layout styles for four-column layout section with title.
 */

.layout--fourcol-titled-section .layout--content {
  display: flex;
  flex-wrap: wrap;
}

.layout--fourcol-titled-section .layout--content > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--fourcol-titled-section .layout--content > .layout__region {
    flex: 0 1 25%;
  }
}
