//——————————————————————————————————————————————————————————————————————————————
// Common Design: Language Switcher
//——————————————————————————————————————————————————————————————————————————————

.cd-language-switcher__btn {
  &:focus {
    outline: 3px solid $cd-blue--bright;
  }
}

.cd-user-menu__dropdown {
  li a {
    &:hover,
    &:focus {
      color: $cd-blue--bright;
    }

    &:focus {
      outline: 3px solid $cd-blue--bright;
    }
  }
}
