/**
 * Styling of the Hero section with the title and introduction.
 */
.layout--label--hero {
  width: 100%;
  padding: 3em 0;
  background-image: url(img/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 1rem;
  text-align: center;
}
.layout--label--hero .layout__region {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}
.layout--label--hero .page-title {
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  font-size: 2rem;
  color: inherit;
}
/**
 * Larger fonts on large screens.
 *
 * See common_desing/common_design.breakpoints.yml for the breakpoint.
 */
@media (min-width: 576px) {
  .layout--label--hero {
    font-size: 1.3rem;
  }
  .layout--label--hero .page-title {
    font-size: 3rem;
  }
}

/**
 * Styling for the Meetings & Events and Publications sections.
 */
.layout--fourcol-titled-section .layout--content {
  display: block;
  /* Compensate for the margin of the ocha-publication items. */
  margin: -1.5em;
  padding: 0;
  list-style: none;
  text-align: center;
}
.layout--fourcol-titled-section .layout--content .layout__region {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  /* Ensure consistent spacing between items. */
  margin: 1.5em;
  text-align: left;
}

@supports (display: grid) {
  .layout--fourcol-titled-section .layout--content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 1.5em;
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }
  .layout--fourcol-titled-section .layout--content .layout__region {
    margin: 0;
  }
}

/**
 * Styling of the Meetings & Events.
 */
.layout--fourcol-titled-section.layout--label--meetings--events .layout--content {
  grid-template-columns: repeat(auto-fill, 250px);
}
.layout--fourcol-titled-section.layout--label--meetings--events .layout--content .layout__region {
  width: 250px;
  padding: 1.2em 1em 2em 1em;
  background-color: var(--cd-light-bluey-grey);
}
.odsg-meetings-events {
  position: relative;
  padding-top: calc(1em + 80px);
  padding-bottom: 1em;
  text-align: center;
}
.odsg-meetings-events a {
  display: block;
  margin-top: 0.5em;
}
.odsg-meetings-events:before {
  content: "";
  position: absolute;
  /* Center horizontally with the margin-left. */
  left: 50%;
  top: 0;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.odsg-meetings-events.high-level-meetings:before {
  background-image: url(img/high-level-meetings.png);
}
.odsg-meetings-events.geneva-meetings:before {
  background-image: url(img/geneva-meetings.png);
}
.odsg-meetings-events.new-york-meetings:before {
  background-image: url(img/field-missions.png);
}
.odsg-meetings-events.field-missions:before {
  background-image: url(img/new-york-meetings.png);
}

/**
 * Align more links in views.
 */
.block.block-views,
.block.block-views .views-element-container {
  height: 100%;
}
.block.block-views .views-element-container .view {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.block.block-views .views-element-container .view .view-content {
  flex-grow: 1;
}
