/**
 * Global, project-specific styles.
 */
.cd-content--spacious h1,
.cd-content--spacious h2,
.cd-content--spacious h3,
.cd-content--spacious h4,
.cd-content--spacious h5,
.cd-content--spacious h6 {
  margin: 1.5em 0 0.5em 0;
}
.cd-content--spacious h1:first-child {
  margin-top: 0.5em;
}
.cd-content--spacious h2:first-child,
.cd-content--spacious h3:first-child,
.cd-content--spacious h4:first-child,
.cd-content--spacious h5:first-child,
.cd-content--spacious h6:first-child {
  margin-top: 1.5em;
}

a {
  color: var(--cd-blue--dark);
}

a:hover, a:focus {
  color: var(--cd-ocha-blue);
}

.layout .block > .field > * :first-child,
.layout .block > .visually-hidden:first-child + * {
  margin-top: 0;
}

.field--name-body {
  max-width: var(--cd-max-content-width);
}

.form--inline .form-item {
  float: left;
  margin-top: 0;
  margin-right: .5em;
}

.form--inline .form-actions {
  float: left;
  margin-top: 0;
}

/* This class is used for the page titles. Using display flex removes margin
 * collapsing and ensures a consistent display regarding of the following
 * layouts. For example the one column layout has display block so margin
 * collapsing while the two columns layout has disply flex to show the main
 * content and its sidebar and thus has no margin collapsing. */
.layout--label--title {
  display: flex;
}

.layout.layout--onecol h2,
.layout.layout--fourcol-titled-section h2 {
  margin: 1.5em 0 .75em;
  text-align: center;
}

.layout.layout--twocol-section--75-25 .layout__region--second h2 {
  color: var(--cd-grey--dark);
  font-size: var(--cd-font-size--large);
}

.layout.layout--twocol-section--75-25 .layout__region--second nav ul {
  padding-left: 0;
  list-style: none;
}

.layout.layout--twocol-section--75-25 .layout__region--second nav ul li > ul {
  padding-left: 1em;
}

.layout.layout--twocol-section--75-25 .layout__region--second nav ul .is-active {
  font-weight: bold;
}

table {
  width: 100%;
  margin: 0 auto 3rem;
  border-collapse: collapse;
}

table caption {
  padding: .6em;
  color: var(--cd-ocha-blue);
  font-size: 1.4rem;
}

table th,
table td {
  padding: .5rem;
  text-align: left;
  word-break: break-word;
  border: 1px solid var(--cd-blue-grey);
}

table th {
  color: var(--cd-ocha-blue);
  border-bottom: 1px solid var(--cd-white);
  background: var(--cd-blue-grey);
}

table a {
  word-break: break-word;
}

table tfoot {
  font-weight: bold;
}

/* Exposed filter on OCHA Funding page. */
.views-exposed-form .form-item-year.cd-form__item {
  display: inline-flex;
  align-items: center;
}
.views-exposed-form .form-item-year.cd-form__item label {
  margin-top: 0;
}
.views-exposed-form .form-item-year.cd-form__item select {
  margin-right: 12px;
}
