/**
 * Annoucement block with an icon.
 */
.odsg-announcement {
  position: relative;
  margin-top: 2.5em;
  /* Include the icon height for the top padding. */
  padding: 80px 0.5em 0 0.5em;
  text-align: center;
  /* The border color is omitted to inherit from the font color. */
  border: 1px solid;
  font-size: 1.5rem;
}
.odsg-announcement:before {
  position: absolute;
  top: 0.5em;
  /* Center horizontally with the margin-left. */
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  content: "";
  background-image: url(img/announcement.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/**
 * Larger fonts on large screens.
 *
 * See common_desing/common_design.breakpoints.yml for the breakpoint.
 */
@media (width >= 576px) {
  .odsg-announcement {
    /* Include the icon width for the left and right margins. */
    padding: 0.5em calc(1.5em + 80px);
  }
  .odsg-announcement:before {
    /* Center vertically with the margin-top. */
    top: 50%;
    left: 0.5em;
    margin-top: -40px;
    margin-left: 0;
  }
}
