<div class="cd-footer__section cd-footer__section--menu">

  <nav class="menu--footer">
    <h2 class="visually-hidden">{{ 'Footer menu' | t }}</h2>
    <ul class="menu">
      <li class="menu-item">
        <a href="https://www.un.org/en/about-us/privacy-notice">{{ 'Privacy' | t }}</a>
      </li>
      <li>
        <a href="https://www.un.org/en/about-us/terms-of-use">{{ 'Terms of use' | t }}</a>
      </li>
    </ul>
  </nav>

</div>
