<div class="cd-footer__section cd-footer__section--menu">
  <div class="region region-footer-navigation">
    <nav class="menu--footer">
      <h2 class="visually-hidden">{{ 'Footer menu' | t }}</h2>
      <ul class="cd-footer-menu">
        <li class="cd-footer-menu__item">
          <a href="https://www.un.org/en/about-us/privacy-notice">{{ 'Privacy' | t }}</a>
        </li>
        <li class="cd-footer-menu__item">
          <a href="https://www.un.org/en/about-us/terms-of-use">{{ 'Terms of use' | t }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
