//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  color: $cd-ocha-blue;
}

.page-title {
  margin-bottom: 2rem;
  border-bottom: 1px solid $cd-light-blue;
  color: $cd-default-text-color;
}

a {
  color: $cd-dark-blue;

  &:hover,
  &:focus {
    color: $cd-ocha-blue;
  }
}
