{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://www.unocha.org/">OCHA website</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://oct.unocha.org/">OCHA Contribution Tracking System</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://humanitarian.id/">Humanitarian ID</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://humanitarianaction.info/">Humanitarian Action</a></li>
  {% endblock %}

{% endembed %}
