<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="odsg-landing-page-links.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container with-grid">
    <ul class="odsg-landing-page-links">
      <li class="odsg-landing-page-link">
        <h3>
          <img src="link-to-image" alt="">
          <a href="link-to-page" rel="noreferer noopener">Link title 1</a>
        </h3>
      </li>
      <li class="odsg-landing-page-link">
        <h3>
          <img src="link-to-image" alt="">
          <a href="link-to-page" rel="noreferer noopener">Link title 2</a>
        </h3>
      </li>
    </ul>
  </div>
</div>
