{{ attach_library('common_design_subtheme/odsg-landing-page-links') }}

<ul class="odsg-landing-page-links">
  <li class="odsg-landing-page-link">
    <h3>
      <img src="link-to-image" alt="">
      <a href="link-to-page" rel="noreferer noopener">Link title 1</a>
    </h3>
  </li>
  <li class="odsg-landing-page-link">
    <h3>
      <img src="link-to-image" alt="">
      <a href="link-to-page" rel="noreferer noopener">Link title 2</a>
    </h3>
  </li>
</ul>
