//——————————————————————————————————————————————————————————————————————————————
// Tables
//
// Note: this is derived from the common_design/cd-table component and should
// be updated if relevant changes were made to the cd-table component, to ensure
// consistency.
//
//——————————————————————————————————————————————————————————————————————————————

table {
  width: 100%;
  margin: 0 auto 3rem;
  border-collapse: collapse;

  caption {
    padding: 0.6em;
    color: $cd-ocha-blue;
    font-size: 1.4rem;
  }

  th,
  td {
    padding: 0.5rem;
    text-align: left;
    word-break: break-word;
    border: 1px solid $cd-blue-grey;
  }

  th {
    color: $cd-ocha-blue;
    border-bottom: 1px solid $cd-white;
    background: $cd-blue-grey;
  }

  a {
    word-break: break-word;
  }

  tfoot {
    font-weight: bold;
  }
}
