/**
 * Style block titles in sections from the layout builder.
 */
.layout h2 {
  margin: 1.5em 0 0.75em 0;
  font-size: 1.8rem;
  text-align: center;

  @include desktop {
    font-size: 2.5rem;
  }
}
