{{ attach_library('common_design_subtheme/odsg-donor-ranking') }}

<h1>Example table</h1>
<table class="odsg-donor-ranking">
  <caption>OCHA Donor Ranking 2018</caption>
  <thead>
  <tr>
    <th class="odsg-donor-ranking--donor">Donor</th>
    <th class="odsg-donor-ranking--earmarked">Earmarked</th>
    <th class="odsg-donor-ranking--unearmarked">Unearmarked</th>
    <th class="odsg-donor-ranking--total">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odsg-donor-code-se">
    <td class="odsg-donor-ranking--donor">Sweden</td>
    <td class="odsg-donor-ranking--earmarked">$1,000,000</td>
    <td class="odsg-donor-ranking--unearmarked">$0</td>
    <td class="odsg-donor-ranking--total">$1,000,000</td>
  </tr>
  <tr class="odsg-donor-code-uk">
    <td class="odsg-donor-ranking--donor">United Kingdom</td>
    <td class="odsg-donor-ranking--earmarked">$300,000</td>
    <td class="odsg-donor-ranking--unearmarked">$400,000</td>
    <td class="odsg-donor-ranking--total">$700,000</td>
  </tr>
  </tbody>
</table>
