{{ attach_library('common_design_subtheme/odsg-hid-login') }}

<h2 class="odsg-hid-login">
  <span class="odsg-hid-login--label">Log in with</span>
  <a href="/user/login/hid">
    <img src="path-to-hid-logo" alt="Humanitarian ID">
  </a>
</h2>
