{{ attach_library('common_design_subtheme/odsg-hid-login') }}

<h2 class="odsg-hid-login">
  <span class="odsg-hid-login__label">Log in with</span>
  <a class="odsg-hid-login__llink" href="/user/login/hid">
    <img class="odsg-hid-login__logo" src="path-to-hid-logo" alt="Humanitarian ID">
  </a>
</h2>
