{{ attach_library('common_design_subtheme/odsg-publication-list') }}

<h2>Publications with PDF covers</h2>
<ul class="odsg-publication-list">
  <li class="odsg-publication-list__item">
    <figure>
      <img src="link-to-cover" alt="">
    </figure>
    <h3><a href="link-to-document" rel="noreferer noopener">Doc title 1</a></h3>
  </li>
  <li class="odsg-publication-list__item">
    <figure>
      <img src="link-to-cover" alt="">
    </figure>
    <h3><a href="link-to-document" rel="noreferer noopener">Doc title 2</a></h3>
  </li>
</ul>

<h2>Publications of News and Updates</h2>
<ul class="odsg-publication-list news-updates">
  <li class="odsg-publication-list__item">
    <figure>
      <img src="link-to-cover" alt="">
    </figure>
    <h3><a href="link-to-document" rel="noreferer noopener">Doc title 1</a></h3>
    <time datetime="2020-01-01T01:01:01-0000">01 Jan 2020</time>
  </li>
  <li class="odsg-publication-list__item">
    <figure>
      <img src="link-to-cover" alt="">
    </figure>
    <h3><a href="link-to-document" rel="noreferer noopener">Doc title 2</a></h3>
    <time datetime="2020-01-01T01:01:01-0000">01 Jan 2020</time>
  </li>
</ul>
