{{ attach_library('common_design_subtheme/odsg-donor-ranking-table') }}

<h1>Example table</h1>
<table class="odsg-donor-ranking-table">
  <caption>OCHA Donor Ranking 2018</caption>
  <thead>
  <tr>
    <th class="odsg-donor-ranking-table__donor">Donor</th>
    <th class="odsg-donor-ranking-table__earmarked">Earmarked</th>
    <th class="odsg-donor-ranking-table__unearmarked">Unearmarked</th>
    <th class="odsg-donor-ranking-table__total">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odsg-donor-code-se">
    <td class="odsg-donor-ranking-table__donor">Sweden</td>
    <td class="odsg-donor-ranking-table__earmarked">$1,000,000</td>
    <td class="odsg-donor-ranking-table__unearmarked">$0</td>
    <td class="odsg-donor-ranking-table__total">$1,000,000</td>
  </tr>
  <tr class="odsg-donor-code-uk">
    <td class="odsg-donor-ranking-table__donor">United Kingdom</td>
    <td class="odsg-donor-ranking-table__earmarked">$300,000</td>
    <td class="odsg-donor-ranking-table__unearmarked">$400,000</td>
    <td class="odsg-donor-ranking-table__total">$700,000</td>
  </tr>
  </tbody>
</table>
